<!DOCTYPE html>
<html>
  <head>
    <title>CheckPlease</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
      window.restaurantOria = "<%= image_url('restaurante-oria.jpg') %>"
      window.image1 = "<%= image_url('image1.jpg') %>"
      window.image2 = "<%= image_url('image2.jpg') %>"
      window.image3 = "<%= image_url('image3.jpg') %>"
      window.image4 = "<%= image_url('image4.jpg') %>"
      window.image5 = "<%= image_url('image5.jpg') %>"
      window.image6 = "<%= image_url('image6.jpg') %>"
      window.image7 = "<%= image_url('image7.jpg') %>"
      window.image8 = "<%= image_url('image8.jpg') %>"
      window.image9 = "<%= image_url('image9.jpg') %>"
      window.image10 = "<%= image_url('image10.jpg') %>"
      window.image12 = "<%= image_url('image12.jpg') %>"
      window.home_background = "<%= image_url('home-background.jpg') %>"
    </script>
    <link href="https://fonts.googleapis.com/css?family=Gaegu|ABeeZee|Varela+Round" rel="stylesheet">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
