<!DOCTYPE html>
<html>
  <head>
    <title>CheckPlease</title>

    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyBhsOwfVSXKGC9lwbiReEPxWCeZfHkmVJE" %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
      window.restaurantOria = "<%= image_url('restaurante-oria.jpg') %>"
      window.image1 = "<%= image_url('image1.jpg') %>"
      window.image2 = "<%= image_url('image2.jpg') %>"
      window.image3 = "<%= image_url('image3.jpg') %>"
      window.image4 = "<%= image_url('image4.jpg') %>"
      window.image5 = "<%= image_url('image5.jpg') %>"
      window.image6 = "<%= image_url('image6.jpg') %>"
      window.image7 = "<%= image_url('image7.jpg') %>"
      window.image8 = "<%= image_url('image8.jpg') %>"
      window.image9 = "<%= image_url('image9.jpg') %>"
      window.image10 = "<%= image_url('image10.jpg') %>"
      window.image12 = "<%= image_url('image12.jpg') %>"
      window.McDowells = "<%= image_url('McDowells.jpg') %>"
      window.BurgerQueen = "<%= image_url('BurgerQueen.jpg') %>"
      window.Orangebees = "<%= image_url('Orangebees.jpg') %>"
      window.PeterBoogers = "<%= image_url('PeterBoogers.jpg') %>"
      window.SushiDaves = "<%= image_url('SushiDaves.jpg') %>"
      window.SushiMikes = "<%= image_url('SushiMikes.jpg') %>"
      window.MacLarensPub = "<%= image_url('MacLarensPub.jpg') %>"
      window.NuovoVesuvio = "<%= image_url('NuovoVesuvio.jpg') %>"
      window.Dorsias = "<%= image_url('Dorsias.jpg') %>"
      window.LosPollosHermanos = "<%= image_url('LosPollosHermanos.jpg') %>"
      window.Gusteaus = "<%= image_url('Gusteaus.jpg') %>"
      window.Merlottes = "<%= image_url('Merlottes.jpg') %>"
      window.cuisineAmerican = "<%= image_url('cuisine-american.jpg') %>"
      window.cuisineAsian = "<%= image_url('cuisine-asian.jpg') %>"
      window.cuisineChinese = "<%= image_url('cuisine-chinese.jpg') %>"
      window.cuisineContemporary = "<%= image_url('cuisine-contemporary.jpg') %>"
      window.cuisineFarmToTable = "<%= image_url('cuisine-farmtotable.jpg') %>"
      window.cuisineFrench = "<%= image_url('cuisine-french.jpg') %>"
      window.cuisineGreek = "<%= image_url('cuisine-greek.jpg') %>"
      window.cuisineIndian = "<%= image_url('cuisine-indian.jpg') %>"
      window.cuisineItalian = "<%= image_url('cuisine-italian.jpg') %>"
      window.cuisineJapanese = "<%= image_url('cuisine-japanese.jpg') %>"
      window.cuisineMediterranean = "<%= image_url('cuisine-mediterranean.jpg') %>"
      window.cuisineMexican = "<%= image_url('cuisine-mexican.jpg') %>"
      window.cuisinePizzeria = "<%= image_url('cuisine-pizzeria.jpg') %>"
      window.cuisineSeafood = "<%= image_url('cuisine-seafood.jpg') %>"
      window.cuisineSteakhouse = "<%= image_url('cuisine-steakhouse.jpg') %>"
      window.cuisineSushi = "<%= image_url('cuisine-sushi.jpg') %>"
      window.home_background = "<%= image_url('home-background.jpg') %>"
    </script>
    <link href="https://fonts.googleapis.com/css?family=Gaegu|ABeeZee|Varela+Round" rel="stylesheet">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
